<!DOCTYPE html>
<html lang="fr">
<%- include('./includes/head.ejs'); %>
<body>
    <%- include('./includes/sidebar.ejs'); %>
    <main>
        <section>
            <div class="box">
                <h2>Modifier un projet</h2>
                <br />
                <form action="/project/update/<%= id %>?_method=put" method="post" enctype="multipart/form-data">
                    <% projects.forEach(e => { %>
                    <label for="project">Nom du projet</label>
                    <input type="text" name="project" value="<%= e.project %>" required>
                    <br />
                    <label for="link">Lien du projet</label>
                    <input type="text" name="link" value="<%= e.link %>" required>
                    <br />
                    <label for="image">Image du projet</label>
                    <input type="file" name="image" value="<%= e.image %>" required>
                    <% }) %>
                    <br />
                    <button type="submit" class="submit">Modifier</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('./includes/footer.ejs'); %>
</body>
</html>
